{% extends 'admin_template/base.html' %}
{% block page_title %}
Delete Session | {{ses.term_name}}
{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Delete Session Details </h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action ="/delete_a_session" method="post">
                {% csrf_token %}

                <div class="card-body">

                    <label>Session Starts</label>
                    <select class="form-control" name="session_id">
                    <option  class="form-control"  value="{{ses.id}}" >{{ses.session_start_year}}</option>
                    </select>
                  </div>

                 <div class="card-body">
                    <label>Session Ends</label>
                    <option  class="form-control"  value="{{ses.session_end_year}}" name ="session_end_id">{{ses.session_end_year}}</option>
                  </div>



                  <div class="form-check">
                    <input type="checkbox" class="form-check-input" >
                    <label class="form-check-label">Check me out</label>
                  </div>
                  <div class="form-group">
                  {% if messages %}
                    {% for message in messages %}
                      {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                         {% endif %}
                      {% if message.tags == 'success' %}
                        <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                      {% endif %}
                    {% endfor %}
                  {% endif %}
                </div>
                </div>
                <!-- /.card-body -->


                <div class="card-footer">
                  <button type="submit" class="btn btn-danger btn-block"><i class="fas fa-trash">
                              </i>Delete</button>
                </div>

              </form>
            </div>
        </div>
    </section>
    <!-- /.content -->
{% endblock main_content %}

