{% extends 'admin_template/base.html' %}
{% block page_title %}

{% endblock page_title %}
{% block main_content %}

    <!-- Main content -->
<div class="card col-sm-8 card-info">
    <section class="content">
        <div class="container-fluid">
        <div class="col">
            <section class="content">
                <div class="container-fluid">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Check learners results </h3>
              </div>
                {% if action is None %}
              <form role="form" action ="?action=get_result" method="post">
                {% csrf_token %}
                <div class="card-body">

                   <div class="form-group">
                    <label >Session Year</label>
                    <select class="form-control" name="session_year_id">
                      {% for ses in session_year %}
                        <option value="{{ ses.id }}">{{ ses.session_start_year }} {{ ses.session_end_year }}</option>
                      {% endfor %}
                    </select>
                  </div>

                <div class="form-group">
                    <label >Term</label>
                    <select class="form-control" name="term_id">
                        <option value="{{ get_term.id }}">{{ get_term.term_name}}</option>
                    </select>
                </div>


                    <div class="form-group">
                    <label > Select Class</label>
                    <select class="form-control" name="classes_id">
                      {% for clas in classes %}
                        <option value="{{ clas.id }}">{{ clas.classes_name }} </option>
                      {% endfor %}
                    </select>
                  </div>



                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block col-6">Select Subject</button>
                </div>
              </form>

                {% elif action is not None %}
                <form role="form" action ="{% url 'broadsheet' %}"method="POST">
                {% csrf_token %}

                <div class="card-body">
                    <label >Term</label>
                    <select class="form-control" name="term_id">
                        <option value="{{ get_term.id }}">{{ get_term.term_name}}</option>
                    </select>
                </div>


                    <div class="card-body">
                    <label > Class</label>
                    <select class="form-control" name="classes_id">
                        <option value="{{ get_classes.id }}">{{ get_classes.classes_name }} </option>
                    </select>
                  </div>

                <div class="card-body">
                  <div class="form-group">
                    <label >Select Subject</label>
                    <select class="form-control" name="subject_id">
                      {% for s in subject %}
                        <option value="{{ s.id }}">{{ s.subject_name}}</option>
                      {% endfor %}
                    </select>
                  </div>

                </div>
                <div class="card-footer">
                  <button type="submit" class="btn btn-primary btn-block">BroadSheet</button>
                </div>
              </form>
             {% else %}
                <form role="form" action ="{% url 'addsubject' %}" method="post">
                {% csrf_token %}

<section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Invoice</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Invoice</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="callout callout-info">
              <h5><i class="fas fa-info"></i> Note:</h5>
              This page has been enhanced for printing. Click the print button at the bottom of the invoice to test.
            </div>


            <!-- Main content -->
            <div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <i class="fas fa-globe"><div class="heading">Myvaluetech College</div> </i>

                    <small class="float-right">Date: {{term1.created_at}}</small>

                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-8 invoice-col">
                  From
                  <address>
                    <strong>Admin, Inc.</strong><br>
                    795 Folsom Ave, Suite 600<br>
                    San Francisco, CA 94107<br>
                    Phone: (804) 123-5432<br>
                    Email: info@almasaeedstudio.com
                  </address>
                </div>

                <!-- /.col -->
                <div class="col-sm-4 invoice-col">
                    <table>
                      <tr>
                        <th>Learner: </th>
                          {% for t in traits %}
                        <td>{{t.student_id.admin.last_name}}  {{t.student_id.admin.first_name}}</td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>Class: </th>
                          {% for t in traits %}
                        <td>{{t.student_id.classes_id.classes_name}}</td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>Age: </th>
                          {% for t in traits %}
                        <td>{{t.student_id.age}}</td>
                          {% endfor%}
                      </tr>

                    </table>


                  <b>Attendance:</b> 2/22/2014<br>
                  <b>Account:</b> 968-34567<br>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>

                    <tr>
                      <th>Subject</th>
                      <th>1st CA</th>
                      <th>2nd CA</th>
                      <th>Unit Ass</th>
                      <th>Project</th>
                      <th>Exam Score</th>
                      <th>Total Score</th>
                      <th>Avg Score</th>
                      <th>Remarks</th>
                      <th>Pos</th>
                    </tr>

                    </thead>
                    <tbody>
                        {% for f in term1 %}
                    <tr>

                      <td>{{f.subject_id.subject_name}}</td>
                      <td>{{f.first_term_score1}}</td>
                      <td>{{f.first_term_score2}}</td>
                      <td>{{f.first_term_score3}}</td>
                      <td>{{f.first_term_project_score}}</td>
                      <td>{{f.first_term_exam_score}}</td>

                      <td>{{f.first_term_total_score}}</td>

                      <td>{{data.avg}} </td>
                      <td>{% if f.first_term_total_score >= 70 %}
                        <div><span>EXCELLENT</span></div>
                        {% elif f.first_term_total_score >= 60 %}
                        <div><span>GREAT</span></div>
                        {% elif f.first_term_total_score >= 50 %}
                       <div> <span>GOOD</span></div>
                        {% elif f.first_term_total_score >= 40 %}
                       <div> <span>AVERAGE</span></div>
                        {% elif f.first_term_total_score >= 30 %}
                        <div><span>WEAK</span></div>
                        {% else %}
                        <div><span>POOR</span></div>
                        {% endif %}</td>
                      <td>
                        {% if f.first_term_total_score >= 70 %}
                        <div><span class="badge badge-success">A</span></div>
                        {% elif f.first_term_total_score >= 60 %}
                        <div><span class="badge badge-info">B</span></div>
                        {% elif f.first_term_total_score >= 50 %}
                       <div> <span class="badge badge-info">C</span></div>
                        {% elif f.first_term_total_score >= 40 %}
                       <div> <span class="badge badge-info">D</span></div>
                        {% elif f.first_term_total_score >= 30  %}
                        <div><span class="badge badge-warning">E</span></div>
                        {% else %}
                        <div><span class="badge badge-danger">F</span></div>
                        {% endif %}
                      </td>

                    </tr>
                        {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <div class="row">

                <!-- /.col -->
                <div class="col-3 ">
                  <p class="lead"><b>TRAITS</b></p>


                    <table class="table-bordered ">
                        <tr>
                        <th>AFFECTIVE</th>
                        <td></td>
                        </tr>
                      <tr>
                        <th>punctuality: </th>
                         {% for t in traits %}
                        <td> {% if t.punctuality == 5 %}
                        <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.punctuality == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.punctuality == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.punctuality  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.punctuality == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>leadership:</th>
                         {% for t in traits %}
                        <td>{% if t.leadership == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.leadership == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.leadership == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.leadership  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.leadership == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>reliability:</th>
                         {% for t in traits %}
                        <td>{% if t.reliability == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.reliability == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.reliability == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.reliability  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.reliability == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>


                      <tr>
                        <th>relationship:</th>
                         {% for t in traits %}
                        <td>{% if t.relationship == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.relationship == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.relationship == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.relationship  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.relationship == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>

                      <tr>
                        <th>perseverance:</th>
                         {% for t in traits %}
                        <td>{% if t.perseverance == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.perseverance == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.perseverance == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.perseverance  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.perseverance == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>
                        <tr>
                        <th>PSYCHOMOTOR</th>
                        <td></td>
                        </tr>
                      <tr>
                      <tr>
                        <th>handwriting:</th>
                         {% for t in traits %}
                        <td>{% if t.handwriting == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.handwriting == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.handwriting == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.handwriting  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.handwriting == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>sports:</th>
                         {% for t in traits %}
                        <td>{% if t.sports == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.sports == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.sports == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.sports  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.sports == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>drawing:</th>
                         {% for t in traits %}
                        <td>{% if t.drawing == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.drawing == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.drawing == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.drawing  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.drawing == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>craft:</th>
                         {% for t in traits %}
                        <td>{% if t.craft == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.craft == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.craft == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.craft  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.craft == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td></td>
                          {% endfor%}
                      </tr>
                      <tr>
                        <th>music:</th>
                         {% for t in traits %}
                        <td>{% if t.music == 5 %}
                            <div><span class="badge badge-success">A</span> 5</div>
                        {% elif t.music == 4 %}
                        <div><span class="badge badge-primary">B</span> 4</div>
                        {% elif t.music == 3 %}
                       <div> <span class="badge badge-info">C</span> 3</div>
                        {% elif t.music  == 2 %}
                       <div> <span class="badge badge-warning">D</span> 2</div>
                        {% elif t.music == 1  %}
                        <div><span class="badge badge-danger">E</span> 1</div>
                        {% else %}
                        <div><span class="badge badge-dark">N</span> N</div>
                        {% endif %}</td>
                          {% endfor%}
                      </tr>

                    </table>

                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              <!-- this row will not appear when printing -->


             <!-- <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>

                </div>-->
              </div>
            </div>
            <!-- /.invoice -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>



              </form>


              </form>
             {% endif %}
            </div>
        </div>
            </section>


        </div>
      </div>
    </section>
</div>


    <!-- Content Header (Page header) -->

    <!-- /.content -->

    <!-- /.content -->
{% endblock main_content %}
