{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->


    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static "dist/img/MVTLOGO1.PNG" %}" class="img-circle elevation-2"  alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">Myvaluetech</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
         <!----- my profile------->
          <li class="nav-item">
            {% url "addstaff" as addstaff %}
            <a href="{% url "addstaff"%}" class="nav-link {% if request.path == addstaff %} active {% endif %}">
              <i class="fa fa-image"></i>
              <p>
               My Profile
                <span class="right badge badge-teal">View</span>
              </p>
            </a>
          </li>


          <!----- STUDENT SCORES------->


          <li class="nav-item has-treeview ">
            <a href="{% url "admin_home" %}" class="nav-link">
              <i class="fa fa-user-graduate"></i>
              <p>
               Check Results
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
                {% for t in term %}
            <ul class="nav nav-treeview" >
              <li class="nav-item">
                <a href="/email_details/{{t.id}}" class="nav-link active" >
                  <i class="far fa-circle nav-icon"></i>
                  <p>{{t.term_name}}</p>
                </a>
              </li>

            </ul>
                 {% endfor %}
          </li>




          <li class="nav-item">
            <a href="/add_staff" class="nav-link">
              <i class="nav-icon fas fa-th"></i>
              <p>
              Feedback
                <span class="right badge badge-danger">New</span>
              </p>
            </a>
          </li>





<!-------  calendar and gallery--------->

        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>