{% extends 'staff_template/base.html' %}
{% block page_title %}
{{staff.admin.username}} Dashboard
{% endblock page_title %}
{% block main_content %}
{% load static %}


    <!-- Main content -->
      <section class="content">
        <div class="container-fluid">
        <div class="">
 <!-- PIE CHART -->
            <div class="card card-danger">
              <div class="card-header">
                <h3 class="card-title">Chart</h3>

                <div class="card-tools">
                  <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
                  </button>
                  <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i></button>
                </div>
              </div>
              <div class="card-body">
                <canvas id="pieChart" style="min-height: 500px; height: 250px; max-height: 250px; max-width: 100%;"></canvas>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

        </div>
      </div>
    </section>

    <!-- /.content -->
{% endblock main_content %}
